<div class="product-container">
    <a [routerLink]="['/item-details', product.id]">
    <img src="{{product.url}}"  class=product-image/>
    </a>
    <h2>{{product.name}}</h2>
    <p>$ {{product.price}}</p>
    <select class="select-input" [(ngModel)]="quantity">
        <option [ngValue]="1">1</option>
        <option [ngValue]="2">2</option>
        <option [ngValue]="3">3</option>
        <option [ngValue]="4">4</option>
        <option [ngValue]="5">5</option>
        <option [ngValue]="6">6</option>
        <option [ngValue]="7">7</option>
        <option [ngValue]="8">8</option>
        <option [ngValue]="9">9</option>
        <option [ngValue]="10">10</option>
    </select>
    <button (click)="onAddToCart()">Add to cart</button>
</div>
